@charset "utf-8";

@font-face {
    font-family: PlayFair;
    src: url("PlayfairDisplay-Font.ttf") format("truetype");
}

@font-face {
    font-family: DidotLT;
    src: url("DidotLTPro.ttf") format("truetype");
}

body#main,footer {
    background-color: rgb(248,248,248);
}

div#introduction {
   margin: 1%;
   position: relative;
}

div#border {
    position: absolute;
    color: rgb(0,0,0);
    left: 40rem;
    top: 18rem;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0 10px;
    line-height: 25px;
    font-family: DidotLt;
}

div#border2 {
    position: absolute;
    color: rgb(0,0,0);
    right: 30rem;
    bottom: -20rem;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0 10px;
    line-height: 25px;
    font-family: DidotLt;
}

h1#title {
    line-height: 70px;
    font-size: 40px;
    font-family: PlayFair;
}

h2#title{
    line-height: 70px;
    font-size: 40px;
    font-family: PlayFair;
    text-align: center; 
}

div#border3 {
    position: absolute;
    color: rgb(0,0,0);
    right: 43rem;
    bottom: -70rem;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0 10px;
    line-height: 25px;
    font-family: DidotLt;
}

section#about_us h2,h3,h4
{
    text-align: center;
    font-family: Playfair;
    font-size: 30px;
}

section#about_us p
{
    text-align: center;
    font-family: DidotLT;
    font-size: 20px;
}

div#tel_in_img
{
    position: absolute;
    color: rgb(0,0,0);
    left: 26rem;
    top: 137rem;
    padding: 0 10px;
    line-height: 25px;
    font: 20px Calibri;
}

div#tel_in_img a:hover
{
    color: darkcyan;
}

div#mail_in_img
{
    position: absolute;
    color: rgb(0,0,0);
    left: 34rem;
    top: -1rem;
    padding: 0 10px;
    line-height: 25px;
    font: 20px Calibri;
}

div#mail_in_img a:hover
{
    color: darkcyan;
}