@charset "utf-8";

@font-face {
    font-family: PlayFair;
    src: url("PlayfairDisplay-Font.ttf") format("truetype");
}

@font-face {
    font-family: DidotLT;
    src: url("DidotLTPro.ttf") format("truetype");
}
header{
    padding-bottom: 2%;
}

#logoHead{
    text-align: center;
    font: bold 40px/15px PlayFair, sans-serif;
    margin-top: 2%;
}

#logoFoot{
    font: bold 20px/15px PlayFair, sans-serif;
    margin-top: 5%;
    margin-bottom: 2%;
}

ul#head{
    display: flex;
    margin: auto 30%;
    margin-top: 5%;
    text-align: center;
}


li.navigation{
    display: block;
    box-sizing: border-box;
    width: 25%;
    font: 350 20px/normal Calibri, sans-serif;
}

li.navigation a{
    display: block;
    padding: 3%;
    transition: background-color 0.5s ease-out;
    border-radius: 4px;
}

li.navigation a:hover{
    background-color: rgba(237,233,225,0.35);
}

a{
    text-decoration: none;
    color: black;
}

footer{
    padding-top: 1%;
    text-align: center;
}

#profile{
    display: none;
    justify-content: center;
}

#emailCharlotte{
    font-family: Calibri, sans-serif;
    font-weight: lighter;
}

#emailCharlotte:hover{
    color: #404040;
}

#copyright{
    margin-top: 3%;
    margin-bottom: 1%;
}

#cartlink{
    position: absolute;
    top: 10%;
    right: 30%;
    display: none;
    transform: scale(1.3);
}

#cartNum{
    font-size: 100px;   
}

#profilepic{
    position: absolute;
    display: block;
    top: 10%;
    right: 20%;
}

#logout{
    padding-left: 0%;
    padding-right: 0%;
    text-align: center ;
}

li.submenu a{
    font: 350 15px/normal DidotLT, sans-serif;
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 5%;
    text-align: justify;
    padding-left: 15%;
}

ul.submenu{
    list-style-type: none;
    display: none;
    position: absolute;
    top: 15%;
    right: 14%;
    border: 1px solid rgba(170, 166, 158,0.7) ;
    width: 8%;
}

img:hover+ul.submenu, ul.submenu:hover{
    display: block;
} 

li.submenu{
    transition: background-color 0.5s ease-out;
}

li.submenu:hover {
    background-color: rgba(237,233,225,0.35);
}

hr{
    border-top: 0.5px solid gray;
    width: 75%;
}