@charset "utf-8";

@font-face {
    font-family: PlayFair;
    src: url("PlayfairDisplay-Font.ttf") format("truetype");
}

@font-face {
    font-family: DidotLT;
    src: url("DidotLTPro.ttf") format("truetype");
}

@font-face {
    font-family: Raleway;
    src: url("Raleway.ttf") format("truetype");
}

body {
    font-family: PlayFair,sans-serif;
    text-align: center;
}
.container {
    position: relative;
    min-height: 450px;
    top: -62rem;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 36%;
    margin-left: 45%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 85%;
    padding: 15px;
    margin: 5%;
    margin-bottom: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

input[type="Sign Me Up"] {
    background-color: rgb(244, 243, 239);
    color: #0e0c0c;
    padding: 10px 20px;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}

/*image*/
.image-container{
    max-width: fit-content;
    position: relative;
    padding-top: 6%;
    margin-left: 6%;
}

label.overlap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50,-50%);
    z-index: 1;
    background-color: rgba(245, 235, 235, 0.2);
}
