@charset "utf-8";

@font-face {
    font-family: PlayFair;
    src: url("PlayfairDisplay-Font.ttf") format("truetype");
}

@font-face {
    font-family: DidotLT;
    src: url("DidotLTPro.ttf") format("truetype");
}

@font-face {
    font-family: Raleway;
    src: url("Raleway.ttf") format("truetype");
}

#title{
    padding: 2%;
    padding-bottom:0;
    padding-left: 12%;
    font: bold 30px DidotLT, sans-serif;
}

#titlecaption{
    padding: 2%;
    padding-top: 1%;
    font: small Raleway, sans-serif;
    padding-left: 12%;
}

#name, #email{
    font: 30px DidotLT, sans-serif;
    margin: auto;
    width: 70%;
    display: flex;
}

#email{
    margin-bottom: 5%;
}

#titlename, #titleemail{
    flex: 30%;
    font-family: PlayFair, sans-serif;
}

#namecontent,#emailcontent{
    font: 20px Raleway, sans-serif;
    margin: auto;
    margin-left: 0%;
    text-align: center;
    flex: 70%;
}

#content{
    background-color: white;
    padding: 2% 0;
    margin: 0 2%;
    margin-left: 3%;
}

#address{
    position: relative;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    font: 20px DidotLT, sans-serif;
    width: 80%;
}

#oldaddress{
    background-color: transparent;
    border: none;
    resize: none;
    font-size: 18px;
    width: 80%;
    margin-left: 2%;
    color: black;
}

input[type="text"].newaddress {
    padding: 15px;
    border-color: grey;
    width: 60%;
}

.newaddress{
    margin-top: 3%;
}

input[type="text"] {
    width: 40%;
    font: 18px PlayFair, sans-serif;
    text-align: left;
}

::placeholder {
    text-align: left;
}

input[type="submit"]{
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 3%;
}

#okay{
    text-align: center;
    font: 30px PlayFair, sans-serif;
    margin-top: 2%;
    display: none;
}

#newaddress{
    text-align: left;
}