@charset "utf-8";

@font-face {
    font-family: PlayFair;
    src: url("PlayfairDisplay-Font.ttf") format("truetype");
}

@font-face {
    font-family: DidotLT;
    src: url("DidotLTPro.ttf") format("truetype");
}

@font-face {
    font-family: Raleway;
    src: url("Raleway.ttf") format("truetype");
}

#editLink{
    position: absolute;
    right: 3%;
    top: 0;
    padding-top: 2%;
}

#paymentHead
{
    font-family: DidotLT,sans-serif;
    font-size: 28px;
    position: relative;
    left: 8rem;
}

#paymentsmall
{
    font-family: Raleway,sans-serif;
    font-size: 13px;
    position: relative;
    left: 7.8rem;
}

#paymentdetails
{
    font-family: Raleway,sans-serif;
    font-size: medium;
    font-weight: bold;
    position: relative;
    left: 8rem;
}

#address
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    left: 3rem;
}

#formhead{
    padding-top: 2%;
    padding-left: 2%;
}

.formHead
{
    font-family: PlayFair ,sans-serif;
    background-color: lightgray;
    padding-bottom: 2%;
}

.paymentform {
    width: 50%;
    margin-left :8rem;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#formHead2
{
    padding: 0 20px;
    padding-top: 30px;
    font-family: Raleway,sans-serif;
    font-weight: bold;
}

#form
{
    font-family: Calibri, sans-serif;
    padding: 30px 20px 35px 20px;
}

#form2
{
    font-family: Calibri, sans-serif;
    font-weight: lighter;
    font-size: small;
    padding: 2% 2%;
    padding-bottom: 0;
}

#paymentForm2 {
    max-width: 300px;
    margin: 0 auto;
    position: relative;
    left: -12.6rem;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#secondFormHead
{
    font-weight: bold;
    padding-top: 2%;
    padding-left: 2%;
}

#method
{
    font-family: Raleway,sans-serif;
    font-size: small;
}

#border {
    max-width: 300px;
    margin: 0 auto;
    position: relative;
    left: 12rem;
    top: -9.8rem;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#addresspayment{
    background-color: transparent;
    border: none;
    resize: none;
    font-size: 20px;
    width: 80%;
    margin-left: 2%;
    color: black;
    padding: 20px;
}

#form2session div{
    margin-bottom: 2%;
margin-left: 3%;
}

.paymentform hr{
    margin-top: 5%;
}